<!DOCTYPE html>
<html lang="en">
<% include ./partials/_header %>
  <ul>
    <h2> List of Urls </h2>
    <% for(shorturl in urls){ %>
    <li><%=  shorturl + " -> " %> <a href="<%= urls[shorturl] %>"><%= urls[shorturl] %></a>
      <a href="/urls/<%= shorturl %>"> Edit </a>
     <form  action="/urls/<%= shorturl %>/delete" method="POST">
      <input type="submit" value="Delete">
    </form>
    <%} %>
    </li>
  </ul>
</body>
<% include ./partials/_footer %>
</html>
